<header>
    <h1 class="student-profile-name"><%=student.name%></h1>
    <nav class="student-nav">
        <ul class="inner-nav">
            <li><a href="/students" class="nav-link">Home</a></li>
            <li><a href="/students/<%=student._id%>/edit" class="nav-link">Edit</a></li>
            <li>
                <form id="delete-form" method="POST" action="/students/<%=student._id%>?_method=DELETE">
                    <input class="nav-link" type="submit" value="Delete" />
                </form>
            </li>
        </ul>
    </nav>
</header>