<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LessonPlan</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>

<body class="home-body">
    <nav>
        <div class="logo">
            <h1>LessonPlan</h1>
        </div>
        <hr>
        <div class="login">
            <a class="login-button" href="#" onclick="document.getElementById('login-form').style.display='block'"
                style="width:auto;">Login</a>
        </div>
        <hr>
        <div class="signup">
            <a class="signup-button" href="#" onclick="document.getElementById('signup-form').style.display='block'"
                style="width:auto;">Get Started</a>
        </div>
        <hr>
    </nav>

    <div id="login-form" class="modal">
        <form action="/auth/login" method="POST" class="modal-content animate">
            <div class="container">
                <label><b>Email</b></label><br>
                <input type="text" name="email" placeholder="Enter Email"><br>
                <label><b>Password</b></label>
                <input type="password" name="password" placeholder="Enter Password"><br>
                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('login-form').style.display='none'"
                    class="cancel-button">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <div id="signup-form" class="modal">
        <form action="/auth/registration" method="POST" class="modal-content animate">
            <div class="container">
                <label><b>Name</b></label><br>
                <input type="text" name="name" placeholder="Enter Name"><br>
                <label><b>Email</b></label><br>
                <input type="text" name="email" placeholder="Enter Email"><br>
                <label><b>Password</b></label>
                <input type="password" name="password" placeholder="Enter Password"><br>
                <button type="submit">Create Account</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('signup-form').style.display='none'"
                    class="cancel-button">Cancel</button>
            </div>
        </form>
    </div>