<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LessonPlan</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>

<body>
    <nav>
        <div class="logo">
            <h1>LessonPlan</h1>
        </div>
        <hr>
        <div class="login">
            <a class="login-button" href="#" onclick="document.getElementById('login-form').style.display='block'"
                style="width:auto;">Login</a>
        </div>
        <hr>
        <div class="signup">
            <a class="signup-button" href="#" onclick="document.getElementById('signup-form').style.display='block'"
                style="width:auto;">Get Started</a>
        </div>
        <hr>
    </nav>