<header>
    <h1><%=student.name%></h1>
    <nav class="song-nav">
        <ul class="inner-nav">
            <li><a href="/students/<%=student._id%>/songs" class="nav-link">Songs</a></li>
        </ul>
    </nav>
</header>