<header>
    <h1 class="student-profile-name"><%=student.name%></h1>
    <nav class="student-nav">
        <ul class="inner-nav">
            <li><a href="/students" class="nav-link">Students</a></li>
        </ul>
    </nav>
</header>