<%- include("partials/nav-1")%>

<main class="home-main">
    <div class="home-container">
        <h1 class="home-text">LessonPlan is a platform for music teachers</br>
            to engage with their students</h1>
    </div>
</main>



</body>

</html>