* {
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
}

body {
     font-family: 'Nunito', sans-serif;
}

hr {
    width: 100vw;
    height: 2px;
    background-color: #CFCFCF;
    border: none;
    margin: 0;
}

nav > div {
    font-size: 1.6em;
    min-height: 50px;
    padding: .5rem 2rem;
}

nav {
    display: grid;
    justify-items: center;
    text-align: center;
    background:  #1c1c1c;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 20px;
    overflow: auto;
}

.modal:open {
    display: grid;
    grid-template-rows: 100px auto 100px;
}

@media (min-width: 30rem) {
    nav {
        grid-template-rows: none;
        grid-template-columns: 1fr auto auto auto;
        background:  #1c1c1c;
        color: #fff;
        text-align: right;
        justify-items: start;
        border-bottom:
        2px solid #CFCFCF;
    }
    
    nav > div {
         display: flex;
         align-items: center;
    }

    .login-button {
        text-decoration: none;
        color: white;
    }

    .signup-button {
        border-radius: 3px;
        border: 1px solid transparent;
        line-height: 1.1em;
        text-align: center;
        font-weight: 500;
        padding: 8px 10px 9px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border-color: white;
        text-decoration: none;
        color: white;
    }
    
    div.account > div {
        padding: .5rem;
        display: none;
    }
    
    hr {
        display: none;
    }
    
    /* div.modal {
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%
    }
    
    div.modal.open {
        display: grid;
        grid-template-rows: 100px auto 100px;
    }
    
    .modal_content {
         overflow-y: auto;
    } */

}