* {
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
}

body {
     font-family: 'Nunito', sans-serif;
}

hr {
    width: 100vw;
    height: 2px;
    background-color: #CFCFCF;
    border: none;
    margin: 0;
}

nav > div {
    font-size: 1.6em;
    min-height: 50px;
    padding: .5rem 2rem;
}

nav {
    display: grid;
    justify-items: center;
    text-align: center;
    background:  #1c1c1c;
    color: #fff;
}

span.psw {
    display: block;
    float: none;
}

.cancelbtn {
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #1c1c1c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media (min-width: 30rem) {
    nav {
        grid-template-rows: none;
        grid-template-columns: 1fr auto auto auto;
        background:  #1c1c1c;
        color: #fff;
        text-align: right;
        justify-items: start;
        border-bottom:
        2px solid #CFCFCF;
    }
    
    nav > div {
         display: flex;
         align-items: center;
    }

    .login-button {
        text-decoration: none;
        color: white;
    }

    .signup-button {
        border-radius: 3px;
        border: 1px solid transparent;
        line-height: 1.1em;
        text-align: center;
        font-weight: 500;
        padding: 8px 10px 9px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border-color: white;
        text-decoration: none;
        color: white;
    }
    
    div.account > div {
        padding: .5rem;
    }

    #logout-link {
        padding: .5rem;
        color: white;
        text-decoration: none;
    }
    
    hr {
        display: none;
    }

     span.psw {
        float: right;
        padding-top: 16px;
    }

    .delete-button {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

     .cancel-button {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
}

header.students-header, header.songs-header {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

button.add-student, button.add-song {
    font-size: 15px;
    background: none;
    color: black;
    border: 1px solid black;
}

.student-content, .song-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.student-card {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px; 
    margin: 0 30px;
    background-color: #aaacad;
}

.song-card {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px; 
    margin: 0 30px;
    overflow: hidden;
}

h1.student-name {
    padding: 10px;
    height: 100px;
}

div.song-name {
    background-color: #008B8B;
}

div.song-name > a {
    text-decoration: none;
    color: white;
}

div.song-name:hover {
    opacity: 0.7;
}

div.img-container {
    background-image: no-repeat cover 
}

img.song-img {
    max-width: 100%;
    max-height: 100%;
}

.instrument {
    color: grey;
    font-size: 18px;
}

button.student-music {
    padding: 8px;
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

button.student-music:hover {
    opacity: 0.7;
}

h1.student-profile-name {
    margin: 5px 0 0 0;
}

h1.new-student, h1.new-song {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

div.add-student-form, div.add-song-form {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Source Serif Pro', serif;
}

.add-student-form fieldset, .add-song-form fieldset {
    border: none;
}

.add-student-form input[type="text"], .add-song-form input[type="text"] {
    font-family: 'Source Serif Pro', serif;
    background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.add-student-form input[type="submit"], .add-song-form input[type="submit"] {
    position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #008B8B;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #008B8B;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.add-student-form input[type="submit"]:hover, .add-song-form input[type="submit"]:hover {
     background-color: #008B8B;
}

nav.student-nav, nav.song-nav {
    background: none;
    border-top: 3px solid rgba(0, 139, 139, .8);
    border-bottom: none;
}

ul.inner-nav {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

ul.inner-nav, a.nav-link {
    background-color: #fff;
    border: 0;
}

ul.inner-nav > li {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

a.nav-link {
    float: left;
    font-weight: bold;
    color: #000;
    margin: 0 5px 0 0;
    background-color: #eee;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a.nav-link:link, a.nav-link:visited {
    border-radius: 0 0 8px 8px;
    padding: 0px 15px;
}

a.nav-link:hover {
    background-color: #008B8B;
    color: #fff;
}

h1.edit-student {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

div#song-container {
    height: 300px;
}
