* {
  padding: 0;
  margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
}

nav > div {
    font-size: 1.6em;
    min-height: 50px;
    padding: 1rem 4rem;
}

nav {
    display: grid;
    justify-items: center;
    text-align: center;
}

@media (min-width: 30rem) {
    nav {
        grid-template-columns: 1fr auto auto auto;
        justify-items: start;
    }
}