<%- include("../partials/nav-2")%>

<%- include("../partials/student-header-2")%>

<main>
    <h1 class="edit-student">Edit Student Profile:</h1>
    <div class="add-student-form">
        <form action="/students/<%=student._id%>?_method=PUT" method="POST">
            <fieldset>
                <input type="text" name="name" placeholder="Name">
                <input type="text" instrument="instrument" placeholder="Instrument">
            </fieldset>
            <input type="submit" value="Update Profile">
        </form>
    </div>
</main>


</body>

</html>