<%- include("../partials/nav2")%>

<main>
    <h1 class=new-student>New Student</h1>
    <div class="add-student-form">
        <form action="/students" method="POST">
            <fieldset>
                <input type="text" name="name" placeholder="Student's Name">
                <input type="text" name="instrument" placeholder="Instrument">
            </fieldset>
            <input type="submit" value="Add Student" />
        </form>
    </div>
</main>


</body>

</html>