<%- include("../partials/nav2")%>

<main>
    <h1>Add Student</h1>
    <form action="/students" method="POST">
        <input type="text" name="name" placeholder="Enter student's name" />
        <button type=" Submit">Submit</button>
    </form>
</main>


</body>

</html>