<%- include("../partials/nav2")%>

<header>
    <h1><%=student.name%></h1>
    <nav class="student-nav">
        <ul class="inner-nav">
            <li><a href="/students" class="nav-link">Home</a></li>
            <li><a href="/students/<%=student._id%>/edit" class="nav-link">Edit</a></li>
            <li>
                <form id="delete-form" metod="POST" action="/students/<%=student._id%>?_method=DELETE">
                    <a href="javascript:{}" onclick="document.getElementById('delete-form').submit();"
                        class="nav-link">Delete</a>
                </form>
            </li>
            <li><a href="javascript:{}" class="nav-link" id="song-tag">Songs</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="song-container">

    </div>
</main>