<%- include("../partials/nav-2")%>

<main>
    <h1 class=new-song>New Song</h1>
    <div class="add-song-form">
        <form action="/students/<%=student._id%>/songs" method="POST">
            <fieldset>
                <input type="text" name="name" placeholder="Song Name">
                <input type="text" name="img" placeholder="Image URL">
            </fieldset>
            <input type="submit" value="Add Song" />
        </form>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="custom-file mb-3">
                <input type="file" name="file" id="file" class="custom-file-input">
                <label for="file" class="custom-file-label">Choose File</label>
            </div>
            <input type="submit" value="Submit" class="file-button">
        </form>

    </div>
</main>


</body>

</html>