<%- include("../partials/nav-2")%>

<%- include("../partials/song-header")%>

<main>
    <h1><%=song.name%></h1>
    <section>
        <div class="file-container">

        </div>
    </section>

</main>

</body>

</html>